{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'challenges/css/challenge_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="detail-glass-container p-5">
                <h2 class="text-white mb-4">Yeni Yarış Başlat</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="text-info small mb-2">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-info w-100 mt-4 py-2 fw-bold">Yarışı Göndər (Təsdiqə gedəcək)</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}